h1 {
    font-size: 30px !important;
}

h3 {
    font-size: 20px !important;
}

/* The alert message box */
.alertAccess {
    padding: 20px;
    background-color: #008000; /* Green */
    color: white;
    margin-bottom: 15px;

}

.alertFail {
    padding: 20px;
    background-color: #dd3e16; /* Red */
    color: white;
    margin-bottom: 15px;

}

.validationErrorText {
    color: red;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.placeForMessages {
    height: 50px;
}

/*Get all*/
.getAllContainer {
    display: flex;
    margin-top: 1.5rem;
}

.getAllLeft {
   width: 15%;
   padding-right: 1%;
}

.getAllRight {
    width: 85%;
}

#full_name {
    width: 90%;
}

.departmentId {
    width: 90%;
}

.birthYear {
    display: flex;
    width: 50%;
}

.form-select {
    width: 100%;
}

.form-explanation {
    line-height: 100%;
    font-size: 13px;
    margin-bottom: 6px !important;
}

/* .main-nav {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 50%,rgba(255, 255, 255, 0.85) 100%), url('../storage/home-page/nimi.jpg') !important;
    height: 130px;
} */

.li-nav-item {
    padding: 0.5rem 1rem;
}

.select-lang {
    border: 1px solid Gainsboro; 
    color: Gray;
}

.button-lang {
    border-style: none; 
    background-color: inherit; 
    color: Gray;
}

.main-nav-link {
    font-size: 17px !important;
}

.nav-pagination {
    float: right;
}

.form-button {
    margin-top: 30px;
}

.sorting-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-name {
    margin-right: 3px;
}

.regular-cell {
    line-height: 120%;
}

.replace-link {
    color: Black;
    text-decoration: none !important;
}

.filter-select {
    width: 100%;
}

.filter-input {
    width: 100% !important;
}

.sort-button {
    text-decoration: none !important;
}

/* .integer-input-div {

} */

/* .integer-input {

} */

/*add/update form*/

.external-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.internal-form-container {
    width: 30%;
}

.ad_up_form_h2 {
    margin-top: 1.5rem !important;
}

/*/teacher/schedule*/

.schedule-table {
    width: 100% !important;
}

.schedule-button-group {
    width: 70%;
    display: flex;
    justify-content: end;
}

.month-schedule-button {
    /* background-color: rgb(87, 130, 185) !important; */
}

.schedule-form {
    margin-right: 15px;
}

.top-right-button {
    margin-left: 10px;
}

.schedule-period-name {
    font-size: 17px;
    font-weight: bold;
}

.schedule-date {
    text-align: left;
    font-size: 12px;
    color: DarkOliveGreen;
    font-weight: bold;
}

.schedule-replace-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

.schedule-date-text {
    border: 1px solid black;
    padding: 0px 1px 0px 1px;
    letter-spacing: 0.3em;
}

.schedule-date-half {
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}

.schedule-subject {
    font-size: 18px;
    line-height: 100%;
    padding-top: 4px;
}
.schedule-subject-half {
    font-size: 14px;
    font-weight: bold;
    line-height: 80%;
}

.schedule-room {
    font-size: 15px;
    line-height: 150%;
}
.schedule-room-half {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 110%;
}

.schedule-group {
    font-size: 15px;
    line-height: 150%;
}
.schedule-group-half {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 110%;
}

.schedule-period {
    width: 10%;
}

.schedule-cell {
    position: relative;
    padding: 0rem !important;
    width: 15% !important;
    height: 140px;
}
.schedule-cell-top {
    margin: 0px !important;
    padding-top: 2px;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #dbdbdb;
}
.schedule-cell-bottom {
    margin: 0px !important;
    padding-top: 5px;
    height: 50%;
    width: 100%;
    position:absolute;
    bottom: 0;
    border-top: 1px solid #dbdbdb;
}

.reschedule-cell {
    height: 70px;
}

.schedule-actions-div {
    padding: 0px 5px 0px 5px;
}

.schedule-actions-button {
    text-decoration: none !important;
    color: black;
}

.reschedule-links {
    margin: 15px 0px 7px 0px;
}

.reschedule-link {
    height: 30px !important;
    line-height: 100% !important;
    background-color: PaleGreen !important;
    border-color: PaleGreen !important;
    color: #3d4442 !important;
}

.schedule-dropdown {
    width: 100% !important;
    border-radius: 0px !important;
}

.top-header {
    margin-top: 1.5rem;
}

.replacement-schedule-header-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.replacement-doc-export-button {
    background-color: PaleGreen !important;
    border-color: PaleGreen !important;
    color: #3d4442 !important;
}

/* home page */
#home-main {
    width: 100%;
    height: 845px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../storage/home-page/schedule_foto.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

#home-content {
    padding: 10% 0px 0px 18%; 
    color: white;
}

#home-header-div {
    width: 60%;
}

#home-header-p {
    font-size: 60pt;
    font-weight: 600; 
    font-family: 'Montserrat', sans-serif; 
    line-height: 1; 
    padding-left: 3%; 
    color: rgb(80, 255, 80);
}

#home-list-div {
    padding-top: 3%;
}

#home-list-ul {
    font-size: 25pt; 
    font-family: 'Montserrat', sans-serif;  
    list-style-type: none;
}

#home-main-li-list {
    /* list-style-image: url('../storage/icons/list.png');
    margin-bottom: 25px;
    line-height: 1.2; */
    background: url("../storage/icons/list.png") no-repeat left center;
    padding-left: 4%;
    line-height: 2;
}

#home-main-li-schedule {
    /* list-style-image: url('../storage/icons/schedule.png');
    margin-bottom: 25px;
    line-height: 1.2; */
    background: url('../storage/icons/schedule.png') no-repeat left center;
    padding-left: 4%;
    line-height: 2;
}

#home-main-li-schedule-change {
    /* list-style-image: url('../storage/icons/shedule_change.png');
    margin-bottom: 25px;
    line-height: 1.2; */
    background: url('../storage/icons/shedule_change.png') no-repeat left center;
    padding-left: 4%;
    line-height: 2;
}

#home-main-li-agree {
    /* list-style-image: url('../storage/icons/agreement.png');
    line-height: 1.2; */
    background: url('../storage/icons/agreement.png') no-repeat left center;
    padding-left: 4%;
    line-height: 2;
}

/* #home-main {
    position: relative;
    padding: 0px !important;
    width: 100%;
    height: 850px;
    background-image: url('../storage/home-page/MenegerR2.png');
    background-repeat: no-repeat;
    /* background-position: 87% 100%; */
    /* background-size: cover; */
/* } */

.fail-on-hp {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#home-main-left {
    width: 55%;
    height: 250px;
    margin: 80px 0px 0px 150px;
}
/* about */
.hp-main-header {
    margin: 1.5rem 0px 3.5rem 0px;
    width: 70%;
    font-size: 50px !important;
    text-align: left !important;
    line-height: 0.9;
    letter-spacing: 0.05em;
}

#schedule-word {
    color: SkyBlue;
}

.hp-main-description {
    margin: 50px 0px 0px 0px;
    width: 700px;
    text-align: left !important;
    font-size: 30px;
}

.hp-header {
    font-weight: bold !important;
}

.hp-text {
    font-size: 20px !important;
    text-align: justify !important;
    /* text-indent: 35px; */
}

.hp-capital-letter {
    font-weight: bold;
    font-size: 25px;
    color: Grey;
    font-style: italic;
    letter-spacing: 2px;
}

.hp-gap {
    height: 100px;
}

/* Month schedule */

/* .month-schedule-table {
    width: 100% !important;
} */

.month-schedule-header-th {
    padding: 0 !important;
    height: 25px !important;
    font-size: 12px;
}

.month-schedule-period {
    width: 10%;
    height: 70px !important;
}

.month-schedule-period-name {
    font-size: 12px;
    font-weight: bold;
}

.month-schedule-period-time {
    font-size: 12px;
}

.month-schedule-cell {
    position: relative;
    padding: 0rem !important;
    width: 15% !important;
    height: 70px !important;
}

.month-schedule-subject {
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 90%;
}

.month-schedule-room {
    font-size: 11px;
    /* font-weight: bold; */
    letter-spacing: 1.5px;
    line-height: 120%;
}

.month-schedule-group {
    font-size: 11px;
    /* font-weight: bold; */
    letter-spacing: 1.5px;
    line-height: 120%;
}

.month-schedule-actions-div {
    margin-top: 5px;
    padding: 0px 0px 0px 5px;
}


/* account_main */
.account-contact-cell {
    padding: 0px 5px 0px 5px;
}

.account-contact-label {
    margin-bottom: 0px; 
    font-weight: bold; 
    line-height: 50%;
}

.account-contact-input {
    background-color: rgb(250, 250, 250);
    border: 0px;
    height: 70%;
}

.account-contact-button {
    height: 40%  !important;
    line-height: 40%  !important;
}

/* settings */
.settings-container {
    width: 30% !important;
}

.settings-h2 {
    margin-top: 1.5rem !important;
}

.settings-form-tr {
    height: 50px !important;
}

.settings-form-label {
    margin: 0px !important; 
    line-height: 100% !important;
}

.settings-red-star {
    color: red !important;
}

.settings-green-star {
    color: green !important;
}

.settings-second-td {
    width: 10% !important;
}

.settings-input {
    padding: 0px !important; 
    text-align: center !important;
}

.settings-button {
    float: right !important;
}
/* -------------- */
.holiday-header {
    color: red !important;
}

.p-green-star {
    margin-top: 10px !important;
}

.input-type-input {
    width: 90%;
}

.input_week_number {
    margin-bottom: 20px !important;
}

/* chat */
.body-section {
    background-color: #eee;
}

.replace_description {
    border-top: 4px solid #ffa900 !important;
}

#chat-button-group {
    display: flex; 
    width: 100%
}

.chat-button {
    padding-top: .55rem !important; 
    margin-left: 1% !important;
}

/* my_replacement_request */
.mrp-table-header {
    width: 7% !important;
}

.mrp-icon-group {
    display: flex; 
    justify-content: space-around;
}

.rp-switch {
    height: 20px;
}
